Cmnd_Alias SERVICES = /sbin/service, /sbin/chkconfig
Cmnd_Alias PACKAGE = /usr/bin/yum, /bin/rpm
Cmnd_Alias TRACE = /bin/traceroute, /usr/bin/tcptraceroute
Cmnd_Alias DEBUG = /usr/sbin/lsof, /usr/sbin/tcpdump
