
# %deployers  ALL=(service,deploy,nobody) NOPASSWD: ALL, (root) NOPASSWD: SERVICES
# %developers ALL=(service,deploy,nobody) NOPASSWD: ALL, (root) SERVICES, TRACE, (root) NOPASSWD: DEBUG
# %sysadmins  ALL=(ALL) NOPASSWD: ALL
