[{{ item.key|replace('.','_') }}]
user = {{ access[item.key]['owner']|default(php_fpm_owner) }}
group = {{ access[item.key]['group']|default(php_fpm_group) }}
listen = {{ php_fpm[item.key]['listen'] }}
listen.mode = 0666
pm = dynamic
pm.max_children = {{ ansible_processor_vcpus * 4 }}
pm.start_servers = {{ ansible_processor_vcpus * 2 }}
pm.min_spare_servers = {{ ansible_processor_vcpus }}
pm.max_spare_servers = {{ ansible_processor_vcpus * 2 }}
process.priority = -19
chdir = /
php_flag[display_errors] = Off
php_admin_flag[log_errors] = On
php_admin_value[error_log] = {{ php_fpm_logdir }}/{{ item.key }}/error.log
php_admin_value[memory_limit] = {{ php_memory_limit }}M
