###############################################################################

ServerTokens Off
ServerSignature Off
PidFile run/httpd.pid

User apache
Group apache

Listen {{ httpd_bind }}:{{ httpd_port }}

ServerRoot "/etc/httpd"

Timeout 60
KeepAlive On
MaxKeepAliveRequests 100
KeepAliveTimeout 15

###############################################################################

include conf/extra/logging.conf
include conf/extra/mpm.conf
include conf/extra/modules.conf
include conf/extra/vhosts.conf
include conf/extra/icons.conf
include conf/extra/language.conf
include conf/extra/random.conf

Include conf.d/*.conf

###############################################################################
